<div class="card">
    <div class="card-body">
        <form id="mpnote-form-new-note" method="post">
            <input type="hidden" name="type" value="{{ type }}">
            <input type="hidden" name="id" value="{{ id }}">
            <div class="d-flex justify-content-between align-items-center gap-2">
                <div class="form-group">
                    <label for="MpNoteOrderId">Id Ordine</label>
                    <input type="text" class="form-control" id="MpNoteOrderId" placeholder="Id" value="{{ id }}" readonly>
                </div>
                <div class="form-group">
                    <label for="MpNoteCustomerId">Id Cliente</label>
                    <input type="text" class="form-control" id="MpNoteCustomerId" placeholder="Id" value="{{ id }}" readonly>
                </div>
                <div class="form-group">
                    <label for="MpNoteCustomerName">Nome Cliente</label>
                    <input type="text" class="form-control" id="MpNoteCustomerName" placeholder="Nome" value="{{ name }}" readonly>
                </div>
                <div class="form-group">
                    <label for="MpNoteEmployee">Operatore</label>
                    <input type="hidden" name="MpNoteEmployeeId" value="{{ employeeId }}">
                    <input type="text" class="form-control" id="MpNoteEmployee" placeholder="Operatore" value="{{ employee }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="MpNoteContent">Messaggio</label>
                <textarea class="form-control" id="MpNoteContent" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-end align-items-center gap-2">
                <div class="ps-switch-container">
                    <label>Stampabile</label>
                    <div class="ps-switch ps-switch-sm ps-togglable-row">
                        <input type="radio" name="MpNotePrintable" id="MpNotePrintable-0" value="0">
                        <label for="MpNotePrintable-0"></label>
                        <input type="radio" name="MpNotePrintable" id="MpNotePrintable-1" value="1">
                        <label for="MpNotePrintable-1"></label>
                        <span class="slide-button"></span>
                    </div>
                </div>
                <div class="ps-switch-container">
                    <label>Chat</label>
                    <div class="ps-switch ps-switch-sm ps-togglable-row">
                        <input type="radio" name="MpNoteChat" id="MpNoteChat-0" value="0">
                        <label for="MpNoteChat-0"></label>
                        <input type="radio" name="MpNoteChat" id="MpNoteChat-1" value="1">
                        <label for="MpNoteChat-1"></label>
                        <span class="slide-button"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>